body{
    background-image:url("../img/fundo.jpg");
}
.title{
    padding:2%;
    text-align: center;
}
.conteudo{
    font-size:20px;
    text-align: justify;
    margin-left:10%;
    margin-right:10%;
}
.brand-logo img {
  height: 64px;
}
.content-head__title{
  font-size:26px;
}
.icon{
    width:24px;
    height:24px;
}